@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    @apply text-5xl text-sky-700;
    font-family: 'Comic Neue', cursive;
}

h2 {
    @apply text-3xl;
    font-family: 'Comic Neue', cursive;
}

h3 {
    @apply text-xl;
    font-family: 'Comic Neue', cursive;
}